---
import "../assets/about.css";
const nama = "Alam";
console.log("hello world");

const ElementH1 = "h1";

const ElementImg = "img";
---

<div class="about">
  <h1>HELLO {nama}</h1>
</div>

<p class="paragraph">Aku mulai belajar Astro!</p>

<ElementH1> Hello!!!!!!!!!!!!!!!!! </ElementH1>

<ElementImg
  style={{ width: "300px", height: "300px" }}
  src="https://th.bing.com/th/id/OIP.h4dY-A-LNcVW3aE5Yhn0VQHaEK?rs=1&pid=ImgDetMain"
/>
