---
console.log(
  "Hi! I’m the server. This is logged in the terminal where Astro is running."
);
---

<h1>Hi! I'm the client.</h1>

<script>
  console.log("Hi! I’m the client. This is logged in browser dev console.");
</script>

PERBEDAAN CLIENT SIDE DAN SERVER SIDE DI ASTRO JS
