<div id="reloadable" class="reloadable">This content will be reloaded.</div>
<button id="reloadButton">Reload</button>

<script>
  // Call the function to attach the reload functionality
  import { attachReloadFunctionality } from "../../public/reload.js";

  attachReloadFunctionality();
</script>
