div {
  background-color: blue;
  font-size: medium;
  color: #fff;
  margin: 20 20 20;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.about {
  text-align: center;
  background-color: yellow;
}

.paragraph {
  color: black;
  font-size: xx-large;
  margin: 40 40 40;
  font-family: sans-serif;
  background-color: lightblue;
}